@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar a {
    font-size: 14px;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color:#007bff;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    color: #fff;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 3rem;
    text-transform: uppercase;
}

.carousel-inner {
    position: relative;
}

.carousel-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card-bottom {
    right: 0;
    margin-top: -178px;
}

.card-text {
    color: #aeaeae;
    font-size: small;
}

.card-color {
    background-color: black;
}

.arrow-icon {
    font-size: 28px;
    font-weight: 800;
}


.bg-footer {
    background-color: black;
    padding: 50px 0 30px;
}

.bg-footer a {
    text-decoration: none;
    color: #aeaeae;
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-caption h5 {
        font-size: 1rem;
    }
}
